@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


@{
    var students = ViewData["myAllStudents"] as List<StudentModel>;
}


<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  background-color: gray;
}

td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    background-color: LightGray
}

</style>


<table>
    <tr>
        <th> ROLLNO </th>
        <th> NAME </th>
        <th> GENDER </th>
        <th> CLASS </th>
    </tr>


    @foreach (var std in students)
    {
        <tr>
            <td> @std.rollNo </td>
            <td> @std.Name </td>
            <td> @std.Gender </td>
            <td> @std.Standard </td>
        </tr>

    }

</table>
 