<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>


    @* Bootstrap css File *@
    <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />


</head>
<body>
    <div>
        @RenderBody()
    </div>


    @* Bootstrap Jquery File *@
    <script src="~/lib/jquery/jquery.min.js"></script>


    @* Bootstrap JS File *@
    <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>

</body>
</html>
