<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header style="background-color:yellow" >
        <h1>HEADER PORTION</h1>
    </header>

        @RenderBody()  @*  It is pointing to child pages *@

    <footer style="background-color:aqua" >
        <h1>FOOTER PORTION</h1>
    </footer>
    
</body>
</html>
