@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<img src="~/Images/DataCamp.jpeg" asp-append-version="true" height="500" width="400" alt="DataCamp" />

<img src="~/Images/Flower.jpg" asp-append-version="true" height="300" width="400" alt="Flower" />