@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@{

    /*
        <a href="/Home/Contact" > Link Using Normal HTML </a>

        <br />

        @* (Text, ActionMethod, Controller) *@
        @Html.ActionLink("Link Using MVC5", "Contact", "Home");

        <br />

        @* (ActionMethod, Controller) *@<a href="@Url.Action("Contact", "Home")"> Link Using MVC5 Method 2  </a>

        <br />

        <a asp-controller="Home", asp-action="Contact" > Link Using TagHelpers in .NET Core</a>
    */

}


@* Specifying Ids *@

<a href="/Home/Contact/1"> Edit Page 01 </a>

<br />

@* (Text, ActionMethod, Controller) *@
@Html.ActionLink("Edit Page 02", "Contact", "Home", new { id = 2 })

<br />

@* (ActionMethod, Controller) *@
<a href="@Url.Action("Contact", "Home", new {id = 3}) "> Edit Page 03  </a>

<br />

<a asp-controller="Home" , asp-action="Contact", asp-route-id="4" > Edit Page 04 </a>